html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  font-size: 18px;
  min-width: 320px;
  min-width: 480px;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }

}
.container {
  padding: 20px;
  min-width: 300px;
  max-width: 1320px;
  margin: 0 auto;
}
.container-fluid {
  padding: 20px;
}

.h1 {font-size: 40px;line-height: 48px; font-weight: bold; margin-bottom: 43px}
.h2 {font-size: 24px; margin-bottom: 24px; font-weight: bold;}
.h3 {}
.h4 {font-weight: bold; font-size: 18px;}
.h5 {}

ul.list {
  margin: 20px 0;
  padding: 0; 
  list-style: none;
}
ul.list li {
  position: relative;
  padding-left: 20px;
  line-height: 1.6;
  margin-bottom: 6px;
}
ul.list li::before {
  content: "";
  background: url(../images/icon-tick.svg) top left/11px 7px no-repeat;
  width: 16px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 0;
}

.btn {
  color: #fff;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 30px;
  line-height: 38px;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  background: #53ae50;
  padding: 0 18px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s, transform .2s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #53ae50;
}
.btn-bordered:hover {
  border-color: #53ae50;
}
.btn-primary:active {
  outline: none;
  transform: translateY(2px);
}

.btn svg {
  font-size: 18px;
  margin-right: 5px;
}
.btn-round {
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.btn-round svg {
  margin-right: 0;
  margin-left: 3px;
}
.first-screen {
  background: #0d1d2a url(../images/space-bg.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 50px 20px;
}
.first-screen-galaxy {
  position: absolute;
  top: -700px;
  left: -200px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spin 760s linear infinite;
          animation: spin 760s linear infinite;
  z-index: -1;
}
.first-screen .description {
  font-size: 20px;
  font-weight: bold;
  margin: 6px 0 10px;
}
.first-screen__header {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen__header .logo {
  min-width: 250px;
  display: inline-block;
}
.first-screen__header .btn {
  display: none;
}
.main-screen__slider {
  margin: 100px 0 150px;
}
.presentation {
  margin: 0;
  max-width: 600px;
}
.presentation__slide {
  margin-bottom: 60px;
}
.presentation__title {
  max-width: 370px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.presentation__text {
  font-size: 20px;
  line-height: 1.5;
}
.dots,
.dots-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dots li,
.dots-dark li { 
  color: transparent;
  margin-right: 20px;
  font-size: 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;   
  -webkit-transition: all .3s;   
  transition: all .3s; 
}
.dots-dark li {
  border-color: #000;
}
.dots .slick-active,
.dots-dark .slick-active { 
  border-color: #53ae50;
  background: #53ae50;   
  -webkit-transform: scale(1.4);   
          transform: scale(1.4); 
}
.dots button,
.dots-dark button {
  display: none
}
.first-screen__contacts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

}
.social-buttons a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin: 20px 0 20px 20px;
  opacity: .9;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.social-buttons a:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
  to   {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}

@keyframes spin {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
  to   {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}
/*First screen media*/
@media screen and (min-width: 600px) {
  .first-screen-galaxy {
    left: -50px;
  }
  .presentation__title {
    max-width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .first-screen {
    padding: 50px 70px;
  }
  .first-screen-galaxy {
    left: auto;
    right: -700px;
  }
  .main-screen__slider {
    margin-left: 250px;
  }
  .first-screen__header .btn {
    display: block;
    margin-left: auto;
  }
  .first-screen__contacts .btn {
    display: none;
  }
  .first-screen__contacts .social-buttons {
    margin-left: auto;
  }
  .sticky-header .btn {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .first-screen-galaxy {
    right: -600px
  }
}
@media screen and (min-width: 1800px) {
  .first-screen-galaxy {
    right: -400px;
  }
}
.sticky-header-wrap {
  position: relative;
  min-height: 20px;
}
.sticky-header {
  opacity: 0;
  background: #efefef;
  padding: 7px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: opacity .2s;
}
.sticky-header.sticked {
  opacity: 1;
  position: fixed;
  z-index: 100;
}
.sticky-header .logo {
  width: 150px;
}
.sticky-header .logo img {
  width: 100%;
}
.menu-toggle {
  display: inline-block;
  background: transparent;
  width: 20px;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 30px;
}
.menu-toggle .line {
  display: block;
  height: 3px;
  width: 100%;
  background: #000;
  margin: 4px 0;
}
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #efefef;
}
.menu a{
  display: block;
  border-bottom: 1px solid #ccc;
  line-height: 1;
  padding: 18px 20px;
  text-decoration: none;
  color: inherit;
}
.menu a:hover {
  background: #ccc;
}
.menu a.active {
  text-decoration: none;
  color: #91a3b4;
}
.menu-toggle .line {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.menu-toggle.open .line:first-child  { -webkit-transform: translateY(7px) rotate(45deg); transform: translateY(7px) rotate(45deg); }
.menu-toggle.open .line:nth-child(2) { opacity: 0 }
.menu-toggle.open .line:last-child   { -webkit-transform: translateY(-7px) rotate(-45deg); transform: translateY(-7px) rotate(-45deg); }

.sticky-header .btn-round {
  margin-left: auto;
}
.sticky-header .btn-primary {
  display: none;
}
@media screen and (min-width: 300px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 900px) {
  .sticky-header .logo {
    width: 250px;
  }
  .sticky-header .logo img {
    width: 100%;
  }
  .sticky-header .btn-round {
    display: none;
  }
  .sticky-header .btn-primary {
    display: inline-block;
  }
  .sticky-header .menu {
    position: static;
    margin-right: auto;
    margin-top: -4px;
  }
  .sticky-header .menu a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: underline;
    border-bottom: none;
  }
  .sticky-header .menu a:hover,
  .sticky-header .menu a.active {
    background: transparent;
    text-decoration: none;
    color: #91a3b4;
  }
  .sticky-header .menu-toggle {
    display: none;
  }
}
/* Brief company description  */
.company-brief {
  background: url(../images/map.svg) center top/100% auto no-repeat ;
}
.company-summary {
  padding-top: 25%;
  text-align: center;
  padding-bottom: 30px;
}
.company-summary p {
  margin: 20px 0;
  line-height: 1.6;
}
.company-statistics {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.company-statistics_item {
  min-width: 180px;
  margin-bottom: 50px;
  flex-basis: 25%;
  width: 25%;
}
.company-statistics_number {
  font-weight: bold;
  margin: 11px 0 3px;
  font-size: 24px;
}
.company-statistics_text {}
@media screen and (min-width: 600px) {
  .company-summary {
    margin-right: 80px;
    margin-left: 80px;
  }
  .company-statistics_item {
    min-width: 150px; 
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 800px) {
  .company-statistics {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

  }
  .company-statistics_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
            align-items: center;
    justify-content: center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
@media screen and ( min-width: 1000px) {
  .company-brief {
    background-position: right top;
    background-size: 70% auto;
  }
  .company-summary{
    padding-top: 120px;
    padding-bottom: 100px;
    max-width: 500px;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
  }
  .company-statistics_image {
    margin-right: 20px;
  }
  .company-statistics_number { 
    font-size: 50px;
    line-height: 1;
  }
  .company-statistics_item {
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 50px;
  }
  .company-statistics_text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1500px) {
  .company-brief {
    background-position: 75% 0;
    background-size: 1000px auto;
  }
}
@media screen and (min-width: 1900px) {
  .company-brief {
    background-position: 60% 0;
    background-size: 1000px auto;
  }
}
.company-standards {}
.company-standards .list{
  margin-left: 17px;
}
.company-standards_image-wrap {
  margin: 0 -20px 20px;
  text-align: center;
}

.company-standards_image {
  display: inline-block;
  width: 100%;
}
.company-standards_text {
  line-height: 1.5;
  max-width: 700px;
}
.company-standards .list {
  margin-bottom: 40px;
}
.technology-block .dots,
.technology-slider .dots-dark {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.technology-block .h4 {
  margin-bottom: 20px;
}
.technology-block .list  {
  position: relative;
  margin: 0;
}
.technology-block .list li {
  margin-bottom: 0;
}
.technology-slider {
  margin-top: 18px;
}
.technology-slider .list li{font-size: 16px;
  margin-bottom: 5px;
}
.technology-block .lighter {
  color: #666;
}
.technology-block b {
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .company-standards_image-wrap {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 900px) {
  .company-standards_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .company-standards_block.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .company-standards_image-wrap {
    margin-right: 50px;
    margin-left: 50px;
  }
  .company-standards_content {
    max-width: 600px;
  }
  .technology-slider {
    margin-top: 24px;
  }
}

.services {
  text-align: center;
  margin-bottom: 60px;
}
.services_title {
  margin-bottom: 32px;
}
.services-wrap {
  margin: 0 -20px;
}
.services-block {
  text-align: center;
  padding: 40px;
}
.services-block p {
  line-height: 1.5;
}
.services-block:nth-child(2n+1){
  background: #eee;
}
.services-block_title {
  margin: 15px 0;
}
@media screen and (min-width: 600px) {
  .services-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services-block {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
  }
}
.prices {
  background: #14202b url('../images/prices-bg (1).png') -300px 90% no-repeat;
  /*background-size: cover;*/
  color: #fff;
  padding: 30px 0 50px;
}
.prices .desktop-visible {
  display: none;
}
.prices .call-to-action {
  line-height: 2;
}
.prices_title {
  margin-bottom: 25px;
}
.prices .description {
  line-height: 1.5;
  margin-bottom: 25px;
  max-width: 820px;
}
.prices-wrap {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 31px;
  padding-bottom: 33px;
}
.price-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 14px;
}
.price-title {
  font-weight: bold;
}
.price-icon {
  background-color: rgba(3, 17, 29, 0.3);
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 26px auto 13px;
  border-radius: 50px;
}
.price-block .hint {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.price-icon.icon-employee {
  background-image: url(../images/icon-outline-employee.svg);
}
.price-icon.icon-deadline{
  background-image: url(../images/icon-outline-deadline.svg);
  max-width: 150px;
}
.price-icon.icon-team {
  background-image: url(../images/icon-outline-team.svg);
  max-width: 200px;
}
.price-icon.icon-gift {
  background-image: url(../images/icon-outline-gift.svg);
}
.btn-outline {
  display: inline;
  padding: 10px 17px;
  background-color: transparent;

}
@media screen and (min-width: 600px){}
@media screen and (min-width: 900px){
  .price-block {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .prices .desktop-visible {
    display: inline;
  }
}

.portfolio {
  padding: 50px 0;
}
.portfolio-slider {
  margin: 0 -20px 30px;
}
.portfolio_title {
  margin-bottom: 30px;
}
.portfolio .dots-dark {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-project {
  padding-bottom: 40px;
}
.portfolio-project img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.portfolio-project_title {
  padding: 0 20px;
}
.portfolio-project_text {
  padding: 0 20px;
}
@media screen and (min-width: 600px) {
  .portfolio-project {
  }
}
@media screen and (min-width: 900px) {
  .portfolio-project {
  }
  .portfolio-project-large {
  }
}

.footer {
  border-top: 2px solid #ccc;
  padding: 20px 0;
}
.footer_contacts a {
  display: inline-block;
  margin-right: 30px;
  color: inherit;
}
.footer_contacts svg {
  color: #53ae50;
  margin-right: 8px;
}
.footer_contacts .phone {
  font-weight: bold;
  text-decoration: none;
}
.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_contacts {
  margin-right: auto;
}
.footer_copyright {
  color: #91a3b4;
}
.footer_social a {
  margin-top: 0;
}
.footer_social .fb {color: #4267B2}
.footer_social .insta {color: #E54557}
.footer_social .linkedin { color: #0077B5 }
@media screen and (min-width: 390px) {
  .footer_content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.is-modal-open {
  overflow-y: hidden;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/space-bg.jpg) center center no-repeat;
  background-size: cover;
  z-index: 10001;
  overflow-y: scroll;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
.modal-content {
  max-width: 500px;
  width: 100%;
  min-width: 300px;
  max-height: calc(100vh - 60px);
  padding: 20px 30px;
  background: #fff;
  margin: 50px auto;
  position: relative;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 1)
}
.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  height: 50px;
  background: #fff;
  z-index: -1;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.modal-close {
  position: absolute;
  top: -10px;
  right: 20px;
}
.modal-title {
  text-align: center;
}
.modal-title h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}
.input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  background: #e4e8ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0079c4;
  margin-bottom: 15px;
  font-family: inherit;
  resize: none;
}
.input:active, 
.input:focus {
  border-color: #53ae50;
  outline: none;
}
input.input {
  max-width: 320px;
}
.input-file {
  cursor: pointer;
  padding-left: 10px;
}
.input-file input[type="file"] {
  display: none;
}
.input-file_text svg {
  color: #53ae50;
}
.input-file_text span {
  text-decoration: underline;
  font-size: 16px;
  color: #4f5963;
}
.modal .btn {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  min-width: 150px;
}
@media screen and (min-width: 600px) {
  .modal-content {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .modal-close {
    top: -30px;
  }
}